header{
    background: linear-gradient(to right, #53657f, #435e87, #35558e, #2a4c95, #244299);
    margin-bottom: 30px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header .header-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

header h1{
    color: #fff;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}